<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
 </head>

  <body class="has-background-grey-lighter">
        <br><br />
        <br><br />
        <br><br />
        <br><br />
        <br><br />
        <h2 class="is-size-1 has-text-centered has-text-weight-bold">Please Enter the Game ID: </h2>
   <br>
   <br>
    <form action="/join_game" method= "get">

            <div class="column is-half is-offset-one-quarter">
                    <input type="number" class="form-control" placeholder="123456" name="game_id">
            </div>
            <br>
            <br><br />
    
         <!-- <input type="submit" input class="btn btn-outline-success" value="Join Game" /> -->
         <input type="submit" input class="button is-primary is-large is-center is-fullwidth" value="Join Game" />
     </form>
     <br><br />
        <br><br />
        <br><br />
        <br><br />
        <br><br />
        <br><br />
        <br><br />
        <br><br />
        <br><br />
        <br><br />
     
  </body>

</html>